@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */ 
@layer utilities {
  input:focus {
    @apply focus:border-transparent focus:!ring-0 focus:!ring-offset-0;
  }
  textarea:focus {
    @apply focus:border-transparent focus:!ring-0 focus:!ring-offset-0;
  }
  body {
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
  }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
  .linearPurpleBottomTop {
    background: linear-gradient(175deg, rgb(2, 2, 18) 30%, rgb(47, 2, 56) 100%);
  }
  .linearPurpleTopBottom {
    background: linear-gradient(0deg, rgb(2, 2, 18) 30%, rgb(47, 2, 56) 100%);
  }
  .footerBgLinear {
    background: linear-gradient(175deg, rgb(2, 2, 18) 30%, rgb(0, 0, 0) 100%);
  }
  .footerBgLinearLight {
    background: linear-gradient(175deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  }
  .buttonBgLinear {
    
  }
  .loadMoreLinearBg {
    background: linear-gradient(175deg, rgba(237,237,237,1) 0%, rgba(111,67,244,1) 100%);
  }
  .bgStatusLinearPaid {
    background: linear-gradient(175deg, rgba(237,237,237,1) 0%, rgba(9,165,43,1) 100%);
  }
  .bgStatusLinearUnPaid {
    background: linear-gradient(175deg, rgba(237, 237, 237, 1) 0%, rgb(245 0 0) 100%);
  }

  .linearTestBg {
    background: linear-gradient(20deg, rgba(2,0,5,1) 20%, rgba(40,43,83,1) 100%);
  }
}

/* Infinity Text Scroll */
.m-scroll {
  
  overflow: hidden;
  z-index: 1;
}
.m-scroll__title {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  white-space: nowrap;
  transform: scale(2);
  transition: all 1s ease;
}
.m-scroll .m-scroll__title > div {
  display: flex;
  animation: scrollText 33s infinite linear;
}

  


/*div:hover {
  animation-play-state: paused;
}*/
@keyframes scrollText {
  from   { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}

.bgPatternPopularItems {
  background-image: url('https://stitchplease.lt/assets/bg-texture-2.png');
  background-repeat: repeat;
}
.bgPatternWishesItems {
  background-image: url('https://stitchplease.lt/assets/bg-texture-4.webp');
  background-repeat: repeat;
}

.wave-text span {
  display: inline-block;
  animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
  animation-delay: 0s;
}
.wave-text span:nth-child(2) {
  animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
  animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
  animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
  animation-delay: 0.8s;
}
.wave-text span:nth-child(6) {
  animation-delay: 1s;
}
.wave-text span:nth-child(7) {
  animation-delay: 1.2s;
}
.wave-text span:nth-child(8) {
  animation-delay: 1.4s;
}
.wave-text span:nth-child(9) {
  animation-delay: 1.6s;
}
.wave-text span:nth-child(10) {
  animation-delay: 1.8s;
}
.wave-text span:nth-child(11) {
  animation-delay: 2s;
}
.wave-text span:nth-child(12) {
  animation-delay: 2.2s;
}
.wave-text span:nth-child(13) {
  animation-delay: 2.4s;
}

@keyframes wave {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

/* Bouncing Letters Animation */
.key {
  display: inline-block;
  transition: transform 0.2s;
}

@keyframes pressDown1 {
  30%,
  40%,
  100% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(4px);
  }
}

@keyframes pressDown2 {
  70%,
  80%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(4px);
  }
}

@keyframes pressDown3 {
  30%,
  40%,
  100% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(4px);
  }
}

@keyframes pressDown4 {
  40%,
  50%,
  100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(4px);
  }
}

@keyframes pressDown5 {
  20%,
  30%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(4px);
  }
}

@keyframes pressDown6 {
  60%,
  70%,
  100% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(4px);
  }
}

@keyframes pressDown7 {
  10%,
  20%,
  100% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(4px);
  }
}

@keyframes pressDown8 {
  35%,
  45%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(4px);
  }
}

@keyframes pressDown9 {
  40%,
  50%,
  100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(4px);
  }
}

@keyframes pressDown10 {
  20%,
  30%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(4px);
  }
}

@keyframes pressDown11 {
  20%,
  30%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(4px);
  }
}

@keyframes pressDown12 {
  20%,
  30%,
  100% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(4px);
  }
}

@keyframes pressDown13 {
  20%,
  30%,
  100% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(4px);
  }
}

@keyframes pressDown14 {
  20%,
  30%,
  100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(4px);
  }
}

@keyframes pressDown15 {
  20%,
  30%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(4px);
  }
}
@keyframes pressDown16 {
  20%,
  30%,
  100% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(4px);
  }
}



.key:nth-child(1) {
  animation: pressDown1 2s infinite;
}

.key:nth-child(2) {
  animation: pressDown2 3s infinite;
}

.key:nth-child(3) {
  animation: pressDown3 4s infinite;
}

.key:nth-child(4) {
  animation: pressDown4 2.5s infinite;
}

.key:nth-child(5) {
  animation: pressDown5 2.5s infinite;
}

.key:nth-child(6) {
  animation: pressDown6 3.5s infinite;
}

.key:nth-child(7) {
  animation: pressDown7 2.2s infinite;
}

.key:nth-child(8) {
  animation: pressDown8 3.2s infinite;
}

.key:nth-child(9) {
  animation: pressDown8 2.5s infinite;
}

.key:nth-child(10) {
  animation: pressDown8 2.7s infinite;
}
.key:nth-child(11) {
  animation: pressDown5 2.5s infinite;
}

.key:nth-child(12) {
  animation: pressDown6 3.5s infinite;
}

.key:nth-child(13) {
  animation: pressDown7 2.2s infinite;
}

.key:nth-child(14) {
  animation: pressDown8 2.7s infinite;
}

.key:nth-child(15) {
  animation: pressDown8 2s infinite;
}

.key:nth-child(16) {
  animation: pressDown8 2.1s infinite;
}
/* Termsfeed cookie */
.termsfeed-com---nb .cc-nb-main-container {
  border: 1px solid #000;
  background: white;
  font-family: Kumbh Sans, serif;
}
.termsfeed-com---palette-light .cc-nb-okagree  {
  background: linear-gradient(175deg, #ededed, #6f43f4);
  border: 1px solid #000;
  font-weight: 400!important;
  color: #000!important;
}
.termsfeed-com---palette-light .cc-nb-reject {
  color: #fff!important;
  background-color: #000!important;
  border: 1px solid #000;
  font-weight: 400!important;
}
.termsfeed-com---palette-light .cc-nb-changep {
  background-color: #fff!important;
  color: #000;
  border: 1px solid #000;
  font-weight: 400!important;
}